@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Inconsolata&display=swap');

.Name {
    font-family: 'Bowlby One SC', cursive;
    font-size: 1.7rem;
    letter-spacing: 5px;
}